#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* body {
   background-color: antiquewhite;
} */

.app {
  width: 100vh;
  height: 100%;
  min-height: 90vh;
  text-align: center;
  padding: 2em;
  margin: 1em;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  .ant-row {
    background-color: antiquewhite;
  }
}
